extends ../layout/main

block variables
  - var title = 'Главная страница'
  - var top__item = ['Гарантия','Магазины','Бонусная          программа','Оптовый отдел','Полезная информация']
  - var menu__item = ['Каталог','Акции','Оплата и доставка','О нас','Контакты']
  
block content
  include index/slider.pug
