header
  .container
    display: flex
    justify-content: space-between

.header-top
  padding: 17px 0 13px 0
  background: #fff
  @media screen and (max-width: $tabletWidth)
    display: none
  .container
    align-items: baseline
.header-top__list

  //justify-content: center

.header-top__item
  display: inline-block
  margin-left: 32px
  &:first-child
    margin-left: 0
  a
    color: $text-color
    font-size: rem(14)
    font-weight: 400
    &:hover
      color: $orange
      text-decoration: underline

.header-phone

.header-phone__item
  display: inline-block
  color: $text-color
  font-size: rem(18)
  &:nth-of-type(n+2)
    margin-left: 23px

.header-user
  display: flex
  justify-content: space-between

.header-user__item
  font-size: rem(14)
  img
    height: 18px
    width: 15px
    margin-right: 5px
  &:first-child:after
    margin: 0 5px
    content: '/'
    display: inline-block

.header-top__mob
  display: none
  background: #fff
  @media screen and (max-width: $tabletWidth)
    display: flex
    justify-content: space-between
    .header-top__icon svg
      fill: (#000)
      height: 33px
      width: 33px

.header-bottom
  background-color: #646665
  padding: 11px 0 8px 0
  border-bottom: 4px solid $orange

.header-logo
  margin-right: 36px
  @media screen and (max-width: $tabletWidth)
    margin: auto

.header-menu
  flex: 1
  justify-content: space-between
  display: flex
  padding-top: 29px
  @media screen and (max-width: $tabletWidth)
    display: none

.header-menu__item
  //flex: 1
  //margin-left: 10px
  position: relative
  text-align: center
  &:first-child
    margin-left: 0
  a
    text-transform: uppercase
    color: $orange
  svg
    fill: $orange
    width: 22px
    height: 12px
  &:hover
    a
      color: #FFF
    svg
      fill: #fff
  &:hover:after
    content: ''
    display: block
    height: 4px
    width: 100%
    background: #fff
    position: absolute
    bottom: -12px

.header-menu__icon
  align-self: center
  text-align: right
  margin-left: 75px

  svg
    fill: (#fff)
    height: 33px
    width: 33px
  @media screen and (max-width: $tabletWidth)
    display: none
