section.index-slider
  .index-slider__stripe  
    .index-slider__image
      .shadow
  .index-slider__about
    .container
      h1 Скидки до #[span 30%]
      p На все коньки фирмы BAUER #[br] только в этом месяце
      a(href="#").index-slider__button Подробнее
      .index-slider__switch
        span
        span
        span
      
  
section(style="height: 2000px")
